body{
  background-color: lightgrey;
}
.biblereference,
.bible_reference{
    font-weight: bold;
    color:green;
}
.bible_text{
    color:green;
}

.q-gutter-md,
.q-mr-md,
.q-ml-md{
  margin-top:10px;
  background-color:lightblue;
  margin-left:10px;
  margin-right:10px;
}
.q-gutter-y-md,.q-gutter-md {
    margin-top: 0px
}
.q-gutter-y-md>*,.q-gutter-md>* {
    margin-top: 0px;
}
